<mat-toolbar>
  <mat-toolbar-row>
    <button  mat-button title="Doc Menu" class="doc-menu" (click)="toggle_side_nav()">
      <mat-icon class="mat-icon" role="img" svgicon="menu" aria-hidden="false">
          <svg xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 24 24">
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
          </svg>
      </mat-icon>
    </button>
    <ul role="navigation">
        <li>
          <a href="#">Graphic Essential</a>
        </li>
        <li>
          <a href="#">Learn OpenGL</a>
        </li>
        <li>
          <a href="#">Learn CUDA</a>
        </li>
        <li>
          <a href="#">GPU Architecture</a>
        </li>
        <li>
          <a href="#">Resources</a>
        </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
