app-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 64px;
    z-index: 10;
}

app-reader {
  position: relative;
  padding: 0;
  min-height: 200px;
  max-width: 100%;
  z-index: 5;
}

app-footer{
    z-index: 0;
    position: relative;
}
