app-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 64px;
}

app-reader {
  min-height: 100vh;
  width: 100%;
  background-color: grey;
}

app-footer{
    position: relative;
    z-index: -1;
    background-color: blue;
}
