<!--Responsive Doc Viewer with Side Navigation-->
<mat-sidenav-container>
  <mat-sidenav opened mode="side" class = "side-nav">
    Table of Content
      Table of Content
        Table of Content
          Table of Content
            Table of Content
              Table of Content
                Table of Content
  </mat-sidenav>
  <mat-sidenav-content>
    Content Place Holder
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit sem et quam pulvinar convallis et laoreet dui. Praesent magna erat, finibus id quam ac, convallis lobortis enim. Integer quis bibendum orci, sit amet tempor ex. Cras sed massa lorem. Donec pretium, urna at imperdiet pellentesque, ante sem volutpat nunc, iaculis fermentum lacus est ac nisi. Nam nec urna non tortor tempor lobortis. Aliquam ut posuere felis, et venenatis nisi. Maecenas eleifend ut nunc non laoreet. Mauris nec erat dictum, tempus leo ac, aliquam sem. Quisque bibendum urna quis neque accumsan, accumsan convallis mi sagittis. Praesent congue pellentesque diam posuere interdum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut accumsan lacus ut quam euismod pharetra. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id bibendum metus. Fusce pulvinar volutpat vestibulum.

Nam iaculis viverra quam, id varius enim ullamcorper sed. Maecenas pretium vitae tellus eget finibus. Fusce sagittis ultricies lorem venenatis aliquam. Cras lobortis vehicula elit sed aliquet. Praesent fringilla maximus magna, eu iaculis diam condimentum quis. Aenean molestie nulla eu turpis condimentum, rutrum vestibulum lorem cursus. Mauris turpis justo, aliquet sed diam non, rutrum feugiat augue. Nam orci neque, vulputate eget congue nec, ullamcorper quis mauris. Proin libero enim, condimentum sit amet orci nec, porta ornare diam. Ut id quam at neque varius commodo. Suspendisse bibendum arcu vitae bibendum aliquet. Quisque in velit a elit feugiat ornare id eu tellus. Nullam quis lectus ut felis tincidunt porta eget nec elit. Morbi fringilla vel purus et sollicitudin.


Proin vel eleifend tortor. Nam in diam id justo accumsan posuere ut id erat. Sed nec orci a neque consectetur ullamcorper. Aenean ut tristique risus. Integer massa sapien, sodales sit amet tempus sit amet, vehicula eget metus. Vestibulum eu sem eros. Ut ultrices diam dolor. Pellentesque mollis arcu mauris, eget euismod sapien mollis id. Proin euismod, orci eu placerat imperdiet, nibh magna tempor diam, vel posuere velit ex a odio. Etiam laoreet congue ipsum sed commodo. In in enim leo. Donec eget enim lorem. Pellentesque dapibus nisi id turpis consequat, eget dictum ex fermentum.


Etia
m in dui massa. Nulla facilisi. Nunc quis porttitor massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam aliquam quam eu sem posuere, vel vulputate justo semper. Nulla porta erat non sodales tincidunt. Aenean id odio sit amet tellus porttitor convallis non et neque. Pellentesque pharetra nisl at tortor iaculis fringilla. Nulla et nisi felis. Ut in pharetra lacus, nec maximus mi. Nam volutpat orci eu nisi faucibus sollicitudin.

Pellentesque mollis sodales purus id rhoncus. Maecenas id nibh sed libero pretium volutpat. Praesent orci neque, finibus vitae augue nec, pulvinar faucibus tellus. Donec non sapien finibus, consectetur augue sit amet, tempus massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas in pharetra ipsum. Fusce non elit ac tortor placerat ornare et a felis.
  </mat-sidenav-content>
</mat-sidenav-container>
