.mat-sidenav-container{
  margin:0;
  min-height: 100%;
  max-width: 100%;
}

.mat-sidenav {
  position: fixed;
  box-shadow: 6px 0 6px rgba(0,0,0,.1);
  width: 200px;
  background-color: white;
  top:  64px;
}


.mat-sidenav .vertical-item {
  box-sizing: border-box;
  display: block;
  text-align: left;
  max-width: 260px;
  overflow-wrap: break-word;
  padding-top: 4px;
  padding-bottom: 4px;
}

.mat-sidenav .vertical-item:hover {
  background-color: #dbdbdb;
  color: #1976d2;
  text-shadow: 0 0 5px #fff;
}

.mat-sidenav .vertical-item:focus {
  outline: 2px auto #1e88e5;
}
.mat-sidenav .vertical-item.selected {
  color: #1976d2;
}

.mat-sidenav .sec-list {
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 4px;
  transition: background-color .2s;
  text-transform: uppercase;
}

.mat-sidenav a{
  text-decoration: none;
  line-height: 20px;
  letter-spacing: 0.3px;
  padding-left: 6px;
}

.mat-sidenav a:visited {
  text-decoration: none;
  color: #1976d2;
}

/******************************************************************************************************/
.mat-sidenav-content {
  top: 64px;
}

.mat-sidenav-content .text_content {
  margin-top: 2rem;
  margin-left: 1rem;
}
